# Ignore the results_log folder and its contents
results_log/
tmp/
tmp/build-errors.log

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Temporary files
*.tmp

# Dependency directories
vendor/

# IDE/editor specific files
.vscode/
.idea/

# Go build artifacts
*.o
*.a
*.log

# Go workspace file
go.work

# Go modules
go.sum
tmp/build-errors.log
