html {
    font-size: 16px;
    color: silver;
}

body {
    background-color: #3f0000;
    margin: 0; 
    padding: 0;
}

header {
    border-bottom: #e1c4ff 3px solid;
}

header nav {
    padding: 1rem;
}
header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        margin: 0 1rem;
        a {
            text-decoration: none;
            color: silver;
            border: #f2f2f2 1px solid;
            padding: 0.5rem;
            border-radius: 8px;
            &:hover {
                color: white;
            }
        }
    }
}

section, header, footer {
    margin: 0;
}

section#page-content {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    justify-items: center;
    gap: 10%;
    margin-top: 2em;
}

article#user-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: lightpink;
    margin-right: 1rem;
}

article#instructions {
    flex: 1;
    padding: 2rem;
    background-color: #f2f2f2;
    margin-left: 1rem;
}

#user-form, #instructions {
    border-radius: 20px;
    height: fit-content;
    max-width: 20vw;;
}

#scrape-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: #3f0000;
}

#scrape-form div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#scrape-form label {
    margin-bottom: 0.5rem;
    min-width: 9rem;
}

#scrape-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color: lightblue;
    border: 1px solid blueviolet;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
}

#scrape-button {
    align-self: flex-end;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #3f0000;
}

th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 3px solid #3f0000;
    color: #3f0000;
}

td {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #dafafe;
}

/* footer */
footer {
    background-color: #e1c4ff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #3f0000;
}