/* Hairyables*/
:root {
    --mid-grey: #808080;
    --dark-grey: #2a2a2a;
    --light-grey: #e8e8e8;
    --off-white: #f5f5f5;
    --high-contrast-black: #1a1a1a;
    --silver: #c0c0c0;
}
/* death hairyables*/

html {
    font-size: 16px;
    color: var(--off-white);
    margin: 0 auto;
}

body {
    background-color: var(--dark-grey);
    margin: 0; 
    padding: 0;
}

header {
    border-bottom: var(--mid-grey) 3px solid;
    h1 {
        padding-left: 2rem;
    }
}

header nav {
    padding: 1rem;
}
header nav ul {
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        margin: 0 1rem;
        a {
            text-decoration: none;
            color: var(--silver);
            border: var(--mid-grey) 1px solid;
            padding: 0.5rem;
            border-radius: 8px;
            &:hover {
                color: var(--off-white);
            }
        }
    }
}

section, header, footer {
    margin: 0;
}

section#page-content {
    display: flex;
    flex-direction: column-reverse; /* never fix html layout! */
    justify-content: center;
    padding-bottom: 3rem;
    gap: 10%;
    margin-top: 2em;
}

article#user-form {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: var(--dark-grey);
    margin-right: 1rem;
}

article#instructions {
    flex: 1;
    padding: 1.275rem;
    background-color: var(--high-contrast-black);
    margin-left: 1rem;
    max-width: fit-content;
}

#instructions {
    border-radius: 20px;
    height: fit-content;
}

#scrape-form {
    display: flex;
    flex-direction: column;
    color: var(--off-white);
}

#scrape-form div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#scrape-form label {
    margin-bottom: 0.5rem;
    min-width: 9rem;
}
    
#scrape-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    &#url {
        min-width: 40vw;
    }
    &#search-string {
        min-width: 20vw;
    }
}

button {
    padding: 0.75rem;
    background-color: lightblue;
    border: 1px solid var(--off-white);
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
}

#scrape-button {
    align-self: flex-start;
}

#results {
    min-height: 300px;;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: var(--high-contrast-black)1px solid;
    color: var(--high-contrast-black);
}

th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 3px solid var(--high-contrast-black);
    color: var(--mid-grey);
}

td {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #dafafe;
}

/* footer */
footer {
    background-color: var(--mid-grey);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--off-white);
}